<div class="well col-md-9 col-md-offset-2">
<div class="col-md-10 col-md-offset-1">
	<div class="row">
<div>
<div class="panel panel-default">
<div class="panel-heading">
<div style="color:#f0ad4e"><b>{{blogPost.blogtitle}}</b></div>
<span><strong>Created By:<br/></strong>{{blogPost.postedBy.userName}}</span><br/>
 <span><strong>on:<br/></strong>{{blogPost.postedOn | date:'medium'}}</span>
          
          </div>
          <div class="panel-body">
          {{blogPost.description}}
          </div>   
</div>
</div>
</div>
</div>

<div class="col-md-10 col-md-offset-1">
<!-- {{blogPost.likes}} likes
<a><span class="glyphicon glyphicon-thumbs-up" ng-class="isLiked?'liked':'default'" ng-click="updateLikes()" class="form-control col-md-8"></span></a> -->
<ul>
<li  ng-repeat="blogComment in blogComments | orderBy:'time':'true'">
{{blogComment.commentText}}<br>
<span>By: <strong>{{blogComment.commentedBy.userName}}</strong></span>
<span>On:<strong>{{blogComment.commentedOn | date:'yyyy/MM/dd'}}</strong></span>
</li>
</ul>

<form>
<div class="form-group">
<textarea rows="4" cols="20" ng-model="blogComment.commentText"></textarea>
</div>
<button class="btn btn-default" value="Post Comment" ng-click="addComment()">Post Comment</button>
</form>


</div>
</div>